.header-container a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.header-container a:hover {

    background-color: aqua !important;
}

.carousel-title {
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
}