.signup-container input {
    display: block;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    background-color: rgb(245, 245, 245);
    margin-bottom: 15px;
}

.signup-container button {
    background-color: red;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
}